body{
    margin: 0px;
}
.grid-container{
    height: 100vh;
    border: 3px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: (repeat(6, 1fr));
    grid-template-rows: repeat(12, 1fr);
    gap: 24px; 
    padding: 24px;
}

.one{
    background-color: #007F5F;
    grid-row: 1/ span 3;
    grid-column: 1/ span 2;
}
.two{
    background-color: #80B918;
    grid-row: 4/ span 3;
    grid-column: 1/2;
}
.three{
    background-color: #DDDF00;
    grid-row: 1/ span 6;
    grid-column: 3/ span 2;
}
.four{
    background-color: #EEEF20;
    grid-row: 1/2;
    grid-column: 5/6;
}
.five{
    background-color: #FFFF3F;
    grid-row: 3/4;
    grid-column: 5/6;
}
.six{
    background-color: #2B9348;
    grid-row: 5/6;
    grid-column: 5/6;
}
.seven{
    background-color: #55A630;
    grid-row: 7/ span 4;
    grid-column: 1/2;
}
.eight{
    background-color: #AACC00;
    grid-row: 7/8;
    grid-column: 3/3;
}
.nine{
    background-color: #D4D700;
    grid-row: 9/10;
    grid-column: 3/3;
}
.ten{
    background-color: #007F5F;
    grid-row: 7/10;
    grid-column: 4/5;
}
.eleven{
    background-color: #BFD200;
    grid-row: 7/10;
    grid-column: 5/6;
}
.twelve{
    background-color: #9BC1BC;
    font-family: Arial, Helvetica, sans-serif;
    row-gap: none;
    grid-row: 11/ span 2;
    grid-column: 1/6;
}